.about-content {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    padding: 60px 40px 0;
}
.my-resume{
    margin-top: 20px;
    width: 200px;
    border: 1px solid rgba(255,255,255,0.1);
    padding: 6px;
    text-align: center;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.06);
}
.bio h2{
    font-size: 22px;
    font-weight: 700;
}
.section{
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 25px;
    padding-top: 20px;
    margin-bottom: 33px;
    border-bottom-color: rgba(255,255,255,.1);
}
.section p, .section span {
    font-weight: 300;
}
ul li {
    list-style-type: none;
}

    @media (max-width: 400px) {
        .about-content{
            padding: 45px 20px 0;
        }
    }

    @media (max-width: 767px) {
        .flex-box-content{
            flex-direction: column;
        }
        .my-resume{
            width: 100%;
            padding: 4px;
            font-size: 15px;
        }
    }