
.name{
    font-size: 45px;
    font-weight: 800;
}

.avatar {
    width: 250px;
    height: 250px;
}

.avatar .image {
    background-image: url('../../assets/img/ava1.jpg');
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    animation: morph 8s ease-in-out infinite;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 9px rgba(255,255,255,.3);
    -webkit-box-shadow: inset 0 0 0 9px rgba(255,255,255,.3);
}
.details{
    margin-left: 60px;
}
@media (max-width: 1200px) {
    .details{
        margin-top: 20px;
        margin-left: 0;
    }
}
.description{
    font-weight: 400;
    max-width: 450px;
    margin-bottom: 25px;
}

@media(max-width: 600px) {
    .name {
        font-size: 30px;
    }
    .description{
        font-size: 14px;
        line-height: 25px;
    }
    .avatar{
        width: 200px;
        height: 200px;
    }
}
@media(max-width: 1200px) {
    .description{
        width: fit-content;
        max-width: fit-content;
        margin-bottom: 25px;
    }
}
@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }    
}