
.sidebar{
    width: 280px; 
}

.sidebar-content{
    position: relative;
}
.sidebar-content .fa-solid.close{
    position: absolute;
    top: -60%;
    right: 1rem;
    cursor: pointer;
    display: none;
}

@media(max-width: 992px) {
    .fa-solid.close{
        display: block !important;
    }
    .sidebar {
        position: absolute;
        z-index: 21;
        left: -100%;
        width: 200px;
        transition: .4s;
    }

    .sidebar.show{
        left: 0;
    }

}