 
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: montserrat;
   font-size: 16px;
   line-height: 30px;
   letter-spacing: 0;
   word-wrap: break-word;
}

 :root {
    --color-primary: #ff014f;
    --color-secondary: #f4f5f6;
    --color-tertiary: #0d1013;
 }

 .wrapper {    
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
 }
 .bg-dark-50 {
    background-color: #494B50 !important;
 }
 .bg-dark {
    background-color: #34353A !important;
 }
 .right-side{
   overflow: auto;
 }

 .text-white-50 {
      color: rgba(255,255,255,0.6)!important;
 }

@media(max-width: 992px){
   .burger{
      cursor: pointer;
      display: block!important;
   }
}


.shadow{
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   transition: .5s;
   opacity: 0;
   display: none;
   z-index: 5;
}
@media(min-width: 992px){
   .shadow{
      display: none;
   }
}
@media (max-width: 992px) {
   .shadow.show{
      background-color: rgba(0,0,0, 0.4);
      opacity: 1;
      display: block;
   }
}